<div class="main-container">
	<header class="header-2">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">Project Clarity</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="active nav-link nav-text">Home</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
			<h3>Clarity Starter Instructions:</h3>
			<ul>
				<li>Start by clicking Fork in the toolbar above.</li>
        <li>Implement the problem in the new editor.</li>
        <li>Custom theme variables can be overwritten in the </li>
				<li>Save the result, and share the url in a GitHub or StackOverflow issue.</li>
			</ul>
		</div>
	</div>
</div>